<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="assets\css\bootstrap.min.css">
        <link rel="stylesheet" href="assets\css\animate.min.css">
        <link rel="stylesheet" href="assets\css\meanmenu.css">
        <link rel="stylesheet" href="assets\css\boxicons.min.css">
        <link rel="stylesheet" href="assets\css\flaticon.css">
        <link rel="stylesheet" href="assets\css\odometer.min.css">
        <link rel="stylesheet" href="assets\css\nice-select.min.css">
        <link rel="stylesheet" href="assets\css\owl.carousel.min.css">
        <link rel="stylesheet" href="assets\css\owl.theme.default.min.css">
        <link rel="stylesheet" href="assets\css\magnific-popup.min.css">
        <link rel="stylesheet" href="assets\css\fancybox.min.css">
        <link rel="stylesheet" href="assets\css\style.css">
		<link rel="stylesheet" href="assets\css\responsive.css">
		
		<title>Welcome SSR Home Zone</title>

        <!-- <link rel="icon" type="image/png" href="assets\images\favicon.png"> -->
    </head>

    <body>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-with-black-color">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <!-- <a href="index.html">
                                <img src="assets\images\black-logo.png" alt="logo">
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <!-- <a class="navbar-brand" href="index.html">
                            <img src="assets\images\white-logo.png" alt="logo">
                        </a> -->

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                            

                                
                            </div>

                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        Home 
                                        
                                    </a>

                                    
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        About Us
                                       
                                    </a>

                                    
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Contact Us 
                                       
                                    </a>

                                   
                                </li>
                                
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Property Plot
                                        
                                    </a>

                                    
                                </li>
    
                               
                            </ul>

                            <div class="others-options d-flex align-items-center">
                                

                                <div class="option-item">
                                    <div class="user-box">
                                        <a href="login.html"><i class='bx bxs-user'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            
        <!-- End Navbar Area -->


        <!-- Start Featured Area -->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\images\featured\featured-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\images\featured\featured-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\images\featured\featured-3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <!-- End Featured Area -->

        <!-- Start Solution Area -->
        <div class="solution-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="solution-image">
                            <img src="assets\images\solution-1.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="solution-content">
                            <h3>Find Best Property Solution For #Rent #Sell and  #Buy</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <div class="solution-btn">
                                <a href="contact.html" class="default-btn">CONTACT US NOW <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Solution Area -->

        <!-- Start New Added Properties Area -->
        <div class="new-added-properties-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h3>New Added Properties</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-new-added-properties">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-image bg-1">
                                        <img src="assets\images\new-added-properties\properties-1.jpg" alt="image">

                                        <div class="tag"><a href="property-details.html">RENT</a></div>
                                        <div class="price">$2,500/ <span>Per Month</span></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-content">
                                        <span>64 1st Avenue, High Street, NZ 1002</span>
                                        <h3>
                                            <a href="property-details.html">Villa Apartment Peris</a>
                                        </h3>
            
                                        <ul class="list">
                                            <li><i class='bx bx-bed'></i> 4 Bedrooms</li>
                                            <li><i class='bx bxs-bath'></i> 2 Baths</li>
                                            <li><i class='bx bx-car'></i> Free Parking</li>
                                        </ul>

                                        <ul class="rating-list">
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li class="color-gray"><i class='bx bxs-star'></i></li>
                                            <li>Average</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-new-added-properties">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-image bg-2">
                                        <img src="assets\images\new-added-properties\properties-2.jpg" alt="image">

                                        <div class="tag"><a href="property-details.html">RENT</a></div>
                                        <div class="price">$4,500/ <span>Per Month</span></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-content">
                                        <span>64 1st Avenue, High Street, NZ 1002</span>
                                        <h3>
                                            <a href="property-details.html">Villa Apartment Ottawa</a>
                                        </h3>
            
                                        <ul class="list">
                                            <li><i class='bx bx-bed'></i> 4 Bedrooms</li>
                                            <li><i class='bx bxs-bath'></i> 2 Baths</li>
                                            <li><i class='bx bx-car'></i> Free Parking</li>
                                        </ul>

                                        <ul class="rating-list">
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li class="color-gray"><i class='bx bxs-star'></i></li>
                                            <li>Average</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-new-added-properties">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-image bg-3">
                                        <img src="assets\images\new-added-properties\properties-3.jpg" alt="image">

                                        <div class="tag"><a href="property-details.html">RENT</a></div>
                                        <div class="price">$6,500/ <span>Per Month</span></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-content">
                                        <span>64 1st Avenue, High Street, NZ 1002</span>
                                        <h3>
                                            <a href="property-details.html">Villa Apartment Canberra</a>
                                        </h3>
            
                                        <ul class="list">
                                            <li><i class='bx bx-bed'></i> 4 Bedrooms</li>
                                            <li><i class='bx bxs-bath'></i> 2 Baths</li>
                                            <li><i class='bx bx-car'></i> Free Parking</li>
                                        </ul>

                                        <ul class="rating-list">
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li class="color-gray"><i class='bx bxs-star'></i></li>
                                            <li>Average</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-new-added-properties">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-image bg-4">
                                        <img src="assets\images\new-added-properties\properties-4.jpg" alt="image">

                                        <div class="tag"><a href="property-details.html">RENT</a></div>
                                        <div class="price">$8,500/ <span>Per Month</span></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="properties-content">
                                        <span>64 1st Avenue, High Street, NZ 1002</span>
                                        <h3>
                                            <a href="property-details.html">Villa Apartment Wellington</a>
                                        </h3>
            
                                        <ul class="list">
                                            <li><i class='bx bx-bed'></i> 4 Bedrooms</li>
                                            <li><i class='bx bxs-bath'></i> 2 Baths</li>
                                            <li><i class='bx bx-car'></i> Free Parking</li>
                                        </ul>

                                        <ul class="rating-list">
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li><i class='bx bxs-star'></i></li>
                                            <li class="color-gray"><i class='bx bxs-star'></i></li>
                                            <li>Average</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="view-properties-btn">
                    <a href="listing.html" class="default-btn">VIEW ALL APARTMENT<span></span></a>
                </div>
            </div>
        </div>
        <!-- End New Added Properties Area -->

        <!-- Start Case Study Area -->
        <div class="case-study-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h3>Case Study</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>
                </div>

                <div class="case-study-slides owl-carousel owl-theme">
                    <div class="case-study-item">
                        <div class="image">
                            <a href="case-study-details.html">
                                <img src="assets\images\case-study\case-study-1.jpg" alt="image">
                            </a>
                        </div>
                        
                        <div class="content">
                            <h3>
                                <a href="case-study-details.html">Apartment</a>
                            </h3>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <div class="image">
                            <a href="case-study-details.html">
                                <img src="assets\images\case-study\case-study-2.jpg" alt="image">
                            </a>
                        </div>
                        
                        <div class="content">
                            <h3>
                                <a href="case-study-details.html">Modern Home</a>
                            </h3>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <div class="image">
                            <a href="case-study-details.html">
                                <img src="assets\images\case-study\case-study-3.jpg" alt="image">
                            </a>
                        </div>
                        
                        <div class="content">
                            <h3>
                                <a href="case-study-details.html">Modern Villa</a>
                            </h3>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <div class="image">
                            <a href="case-study-details.html">
                                <img src="assets\images\case-study\case-study-1.jpg" alt="image">
                            </a>
                        </div>
                        
                        <div class="content">
                            <h3>
                                <a href="case-study-details.html">Apartment</a>
                            </h3>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <div class="image">
                            <a href="case-study-details.html">
                                <img src="assets\images\case-study\case-study-2.jpg" alt="image">
                            </a>
                        </div>
                        
                        <div class="content">
                            <h3>
                                <a href="case-study-details.html">Modern Home</a>
                            </h3>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <div class="image">
                            <a href="case-study-details.html">
                                <img src="assets\images\case-study\case-study-3.jpg" alt="image">
                            </a>
                        </div>
                        
                        <div class="content">
                            <h3>
                                <a href="case-study-details.html">Modern Villa</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Case Study Area -->

        <!-- Start Neighborhood Area -->
        <div class="neighborhood-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h3>Find The Neighborhood For You</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-neighborhood">
                            <a href="property-details.html"><img src="assets\images\neighborhood\neighborhood-small-1.jpg" alt="image"></a>

                            <div class="content">
                                <h3>
                                    <a href="property-details.html">New York City</a>
                                </h3>
                                <span>12 Properties</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-neighborhood">
                            <a href="property-details.html"><img src="assets\images\neighborhood\neighborhood-small-2.jpg" alt="image"></a>

                            <div class="content">
                                <h3>
                                    <a href="property-details.html">Australia</a>
                                </h3>
                                <span>22 Properties</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-neighborhood">
                            <a href="property-details.html"><img src="assets\images\neighborhood\neighborhood-small-3.jpg" alt="image"></a>

                            <div class="content">
                                <h3>
                                    <a href="property-details.html">Canada</a>
                                </h3>
                                <span>33 Properties</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-neighborhood">
                            <a href="property-details.html"><img src="assets\images\neighborhood\neighborhood-small-4.jpg" alt="image"></a>

                            <div class="content">
                                <h3>
                                    <a href="property-details.html">Japan</a>
                                </h3>
                                <span>15 Properties</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-neighborhood">
                            <a href="property-details.html"><img src="assets\images\neighborhood\neighborhood-small-5.jpg" alt="image"></a>

                            <div class="content">
                                <h3>
                                    <a href="property-details.html">United States</a>
                                </h3>
                                <span>38 Properties</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-neighborhood">
                            <a href="property-details.html"><img src="assets\images\neighborhood\neighborhood-small-6.jpg" alt="image"></a>

                            <div class="content">
                                <h3>
                                    <a href="property-details.html">Dubai</a>
                                </h3>
                                <span>54 Properties</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="view-neighborhood-btn">
                    <a href="neighborhood.html" class="default-btn">VIEW MORE NEIGHBORHOOD <span></span></a>
                </div>
            </div>

            <div class="neighborhood-map-shape">
                <img src="assets\images\neighborhood\map.png" alt="image">
            </div>
        </div>
        <!-- End Neighborhood Area -->

        <!-- Start Category Area -->
        <div class="category-area pt-100 pb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="single-category">
                            <a href="property.html"><img src="assets\images\category\category-1.png" alt="image"></a>
                            <h3>
                                <a href="property.html">Apartments</a>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="single-category">
                            <a href="property.html"><img src="assets\images\category\category-2.png" alt="image"></a>
                            <h3>
                                <a href="property.html">Houses</a>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="single-category">
                            <a href="property.html"><img src="assets\images\category\category-3.png" alt="image"></a>
                            <h3>
                                <a href="property.html">Daily Rental</a>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="single-category">
                            <a href="property.html"><img src="assets\images\category\category-4.png" alt="image"></a>
                            <h3>
                                <a href="property.html">Commercial</a>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="single-category">
                            <a href="property.html"><img src="assets\images\category\category-5.png" alt="image"></a>
                            <h3>
                                <a href="property.html">Office</a>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="single-category">
                            <a href="property.html"><img src="assets\images\category\category-6.png" alt="image"></a>
                            <h3>
                                <a href="property.html">New Buildings</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Category Area -->

        <!-- Start Testimonial Area -->
        <div class="testimonial-area ptb-100">
            <div class="container">
                <div class="testimonial-slides owl-carousel owl-theme">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="testimonial-item">
                                <div class="icon">
                                    <i class='bx bxs-quote-right'></i>
                                </div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagitis sem nibh id elit nec sagittis sem nibh id elit.</p>

                                <div class="info">
                                    <img src="assets\images\testimonial\image-1.jpg" alt="image">
                                    <h3>Thomas Joseph</h3>
                                    <span>CEO and Founder</span>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6">
                            <div class="testimonial-image">
                                <img src="assets\images\testimonial\testimonial-1.jpg" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="testimonial-item">
                                <div class="icon">
                                    <i class='bx bxs-quote-right'></i>
                                </div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagitis sem nibh id elit nec sagittis sem nibh id elit.</p>

                                <div class="info">
                                    <img src="assets\images\testimonial\image-2.jpg" alt="image">
                                    <h3>Mickle Alvas</h3>
                                    <span>Director</span>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6">
                            <div class="testimonial-image">
                                <img src="assets\images\testimonial\testimonial-2.jpg" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="testimonial-item">
                                <div class="icon">
                                    <i class='bx bxs-quote-right'></i>
                                </div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagitis sem nibh id elit nec sagittis sem nibh id elit.</p>

                                <div class="info">
                                    <img src="assets\images\testimonial\image-3.jpg" alt="image">
                                    <h3>Angila Denia</h3>
                                    <span>Manager</span>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6">
                            <div class="testimonial-image">
                                <img src="assets\images\testimonial\testimonial-3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area -->

        <!-- Start Blog Area -->
        <div class="blog-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h3>Articles and Blogs</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>
                </div>

                <div class="blog-slides owl-carousel owl-theme">
                    <div class="blog-item">
                        <a href="blog-details.html"><img src="assets\images\blog\blog-1.jpg" alt="image"></a>

                        <div class="blog-content">
                            <span><a href="blog-details.html">APARTMENT</a></span>
                            <h3>
                                <a href="blog-details.html">Redfin Unveils the Best Canadian  Cities for Biking</a>
                            </h3>
                        </div>

                        <div class="blog-bottom-content d-flex justify-content-between align-items-center">
                            <div class="blog-author d-flex align-items-center">
                                <img src="assets\images\blog\image-1.jpg" class="rounded-circle" alt="image">
                                <span><a href="blog-details.html">Alex Morgan</a></span>
                            </div>

                            <p><i class='bx bx-calendar'></i>February 24, 2021</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <a href="blog-details.html"><img src="assets\images\blog\blog-2.jpg" alt="image"></a>

                        <div class="blog-content">
                            <span><a href="blog-details.html">HOUSES</a></span>
                            <h3>
                                <a href="blog-details.html">Apartio Helps Get Your Dream & Luxury Space Alexa</a>
                            </h3>
                        </div>

                        <div class="blog-bottom-content d-flex justify-content-between align-items-center">
                            <div class="blog-author d-flex align-items-center">
                                <img src="assets\images\blog\image-2.jpg" class="rounded-circle" alt="image">
                                <span><a href="blog-details.html">Nia Matos</a></span>
                            </div>

                            <p><i class='bx bx-calendar'></i>February 25, 2021</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <a href="blog-details.html"><img src="assets\images\blog\blog-3.jpg" alt="image"></a>

                        <div class="blog-content">
                            <span><a href="blog-details.html">COMMERCIAL</a></span>
                            <h3>
                                <a href="blog-details.html">Housing Markets That Changed the  Most This Decade</a>
                            </h3>
                        </div>

                        <div class="blog-bottom-content d-flex justify-content-between align-items-center">
                            <div class="blog-author d-flex align-items-center">
                                <img src="assets\images\blog\image-3.jpg" class="rounded-circle" alt="image">
                                <span><a href="blog-details.html">Milana Myles</a></span>
                            </div>

                            <p><i class='bx bx-calendar'></i>February 26, 2021</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <a href="blog-details.html"><img src="assets\images\blog\blog-1.jpg" alt="image"></a>

                        <div class="blog-content">
                            <span><a href="blog-details.html">APARTMENT</a></span>
                            <h3>
                                <a href="blog-details.html">Redfin Unveils the Best Canadian  Cities for Biking</a>
                            </h3>
                        </div>

                        <div class="blog-bottom-content d-flex justify-content-between align-items-center">
                            <div class="blog-author d-flex align-items-center">
                                <img src="assets\images\blog\image-1.jpg" class="rounded-circle" alt="image">
                                <span><a href="blog-details.html">Alex Morgan</a></span>
                            </div>

                            <p><i class='bx bx-calendar'></i>February 24, 2021</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <a href="blog-details.html"><img src="assets\images\blog\blog-2.jpg" alt="image"></a>

                        <div class="blog-content">
                            <span><a href="blog-details.html">HOUSES</a></span>
                            <h3>
                                <a href="blog-details.html">Apartio Helps Get Your Dream & Luxury Space Alexa</a>
                            </h3>
                        </div>

                        <div class="blog-bottom-content d-flex justify-content-between align-items-center">
                            <div class="blog-author d-flex align-items-center">
                                <img src="assets\images\blog\image-2.jpg" class="rounded-circle" alt="image">
                                <span><a href="blog-details.html">Nia Matos</a></span>
                            </div>

                            <p><i class='bx bx-calendar'></i>February 25, 2021</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <a href="blog-details.html"><img src="assets\images\blog\blog-3.jpg" alt="image"></a>

                        <div class="blog-content">
                            <span><a href="blog-details.html">COMMERCIAL</a></span>
                            <h3>
                                <a href="blog-details.html">Housing Markets That Changed the  Most This Decade</a>
                            </h3>
                        </div>

                        <div class="blog-bottom-content d-flex justify-content-between align-items-center">
                            <div class="blog-author d-flex align-items-center">
                                <img src="assets\images\blog\image-3.jpg" class="rounded-circle" alt="image">
                                <span><a href="blog-details.html">Milana Myles</a></span>
                            </div>

                            <p><i class='bx bx-calendar'></i>February 26, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <div class="widget-logo">
                                <!-- <a href="index.html">
                                    <img src="assets\images\white-logo.png" alt="image">
                                </a> -->
                            </div>

                            <p>Aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum necdo sagittis sem nibh id elit consequat ipsum.</p>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Explore</h3>

                            <ul class="footer-quick-links">
                                <li><a href="about.html">ABOUT US</a></li>
                                <li><a href="agents.html">MEET OUR AGENTS</a></li>
                                <li><a href="services.html">OUR SERVICES</a></li>
                                <li><a href="property.html">PROPERTIES</a></li>
                                <li><a href="case-study.html">APARTMENTS</a></li>
                                <li><a href="case-study.html">HOUSE</a></li>
                                <li><a href="case-study.html">VILLA</a></li>
                                <li><a href="case-study.html">OFFICE</a></li>
                                <li><a href="listing.html">SELL OR RENT</a></li>
                                <li><a href="listing.html">New PROPERTIES</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Contact</h3>
                            
                            <ul class="widget-info">
                                <li>
                                    <i class='bx bxs-map'></i>
                                    Taj Express Highway, Uttar Pradesh 202165
                                </li>

                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <a href="tel:000123456789">+91 9999 xxxxxx</a>
                                </li>

                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <a href="/cdn-cgi/l/email-protection#b9d1dcd5d5d6f9dfd0ddd697dad6d4"><span class="__cf_email__" data-cfemail="d4bcb1b8b8bb94b2bdb0bbfab7bbb9">[email&#160;protected]</span></a>
                                </li>

                                <li>
                                    <i class='bx bx-time'></i>
                                    9 AM - 5 PM (Sun-Thur)
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Newsletter</h3>

                            <div class="widget-newsletter">
                                <form class="newsletter-form" data-bs-toggle="validator">
                                    <input type="email" class="input-newsletter" placeholder="Email Address" name="EMAIL" required="" autocomplete="off">
            
                                    <button type="submit"><i class='bx bx-envelope'></i></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>

                                <div class="newsletter-content">
                                    <p>Sign up for our latest news and articles. We won’t give you spam emails.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright © 2022 SSR Home Zone.All Rights Reserved by
                           
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-chevron-up'></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Links of JS files -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets\js\jquery.min.js"></script>
        <script src="assets\js\bootstrap.bundle.min.js"></script>
        <script src="assets\js\jquery.meanmenu.js"></script>
        <script src="assets\js\owl.carousel.min.js"></script>
        <script src="assets\js\jquery.appear.js"></script>
        <script src="assets\js\odometer.min.js"></script>
        <script src="assets\js\nice-select.min.js"></script>
        <script src="assets\js\jquery-ui.min.js"></script>
        <script src="assets\js\jquery.magnific-popup.min.js"></script>
        <script src="assets\js\fancybox.min.js"></script>
		<script src="assets\js\jquery.ajaxchimp.min.js"></script>
		<script src="assets\js\form-validator.min.js"></script>
        <script src="assets\js\contact-form-script.js"></script>
        <script src="assets\js\wow.min.js"></script>
        <script src="assets\js\main.js"></script>
    </body>
</html>